.imo-unstyled {
  border: none;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.imo-unstyled::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.imo-trigger {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 5px;
  background-color: navajowhite;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: sans-serif;
  z-index: 10500;
}

.imo-popup {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10000;
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding: 24px;
  overflow-y: auto;
}

.imo-popup a:visited,
.imo-popup a {
  color: white;
}

.imo-popup .imo-module-dialog {
  left: calc(50% - 200px);
}

.imo-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.imo-list {
  margin-left: 16px;
}

.imo-list > *:not(:last-child) {
  margin-bottom: 8px;
}

.imo-list-container *,
.imo-modal-container * {
  font-family: sans-serif;
  box-sizing: border-box;
}

.imo-module-dialog {
  position: fixed;
  z-index: 30000000;
  top: 30%;
  max-width: 600px;
  margin: 0 auto;
  border: 4px solid navajowhite;
  background-color: white;
  padding: 1em;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.imo-module-dialog input {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding-right: 20px;
}

.imo-module-dialog table {
  margin-bottom: 16px;
}

.imo-module-dialog table td:first-child {
  text-align: right;
  padding-right: 16px;
  word-break: keep-all;
}

.imo-module-dialog table td {
  word-break: break-all;
}

.imo-module-dialog.imo-overridden {
  border: 4px solid salmon;
}

.imo-table-header-actions {
  display: flex;
  align-items: center;
}

.imo-overrides-table {
  border-collapse: collapse;
  margin-top: 32px;
}

.imo-overrides-table tr td:first-child {
  display: flex;
  align-items: center;
  padding-right: 32px;
  position: relative;
}

.imo-needs-refresh {
  position: absolute;
  right: 8px;
  width: 20px;
  height: 20px;
  /* base64 encoded 27F2 svg */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='261' height='216' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' stroke-linecap='square' stroke-miterlimit='10' shape-rendering='auto' stroke-opacity='1' fill='%23ffffff' stroke-dasharray='none' stroke-width='1' stroke-linejoin='miter' stroke-dashoffset='0'%3E%3Cg%3E%3Cpath fill='%23ffffff' d='m152.5625,214.0625q-27.5625,0 -49.6406,-11.8125q-22.0781,-11.8125 -34.7344,-28.4062l12.6563,-11.5313q10.6874,15.1875 31.0781,25.0313q20.3906,9.8437 40.6406,9.8437q21.375,0 44.1563,-11.5313q22.7812,-11.5312 34.3124,-34.3124q11.5313,-22.7813 11.5313,-44.1563q0,-21.375 -11.5313,-44.1563q-11.5312,-22.7812 -34.3124,-34.3124q-22.7813,-11.5313 -44.1563,-11.5313q-19.9687,0 -39.6563,9.1406q-19.6874,9.1407 -30.9374,24.1875q-11.25,15.0469 -16.7344,35.7188l42.3281,-34.7344l-54,91.6875l-54,-91.6875l47.25,38.8125q3.9375,-24.4687 17.4375,-44.5781q13.5,-20.1094 36.9844,-32.7656q23.4844,-12.6563 51.3281,-12.6563q29.25,0 54,14.0625q24.75,14.0625 38.8125,38.8125q14.0625,24.75 14.0625,54q0,29.25 -14.0625,54q-14.0625,24.75 -38.8125,38.8125q-24.75,14.0625 -54,14.0625z' /%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imo-status {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid white;
  margin-right: 8px;
}

.imo-disabled-override {
  background-color: lightblue;
}

.imo-next-override {
  background-color: darkred;
}

.imo-current-override {
  background-color: salmon;
}

.imo-default-module {
  background-color: lightgoldenrodyellow;
}

.imo-external-override {
  background-color: orange;
}

.imo-next-default {
  background-color: darkgoldenrod;
}

.imo-dev-lib-override {
  background-color: lightpink;
}

.imo-overrides-table tbody tr:hover {
  cursor: pointer;
  background-color: #404040;
}

.imo-overrides-table td,
.imo-overrides-table th {
  line-height: 18px;
  padding: 16px;
  border: 1px solid white;
}

.imo-add-new {
  margin-left: 16px;
}

.imo-add-new button {
  color: black;
}

.imo-clear-input {
  position: absolute;
  top: 0;
  right: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.imo-modal-container {
  font-family: sans-serif;
}

.imo-modal {
  background-color: rgba(61, 70, 77, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20000000;
}

.imo-list-search,
.imo-list-container button,
.imo-modal-container button {
  font-size: 14px;
  height: 27px;
  line-height: 27px;
}

.imo-list-search {
  line-height: 22px;
  border: none;
  padding: 5px;
}
